.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-mid {
  width: 100%;
  height: 70vh;
  position: relative;
}

.hero-mid h1 {
  padding-top: 4rem !important;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 800;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text p {
  color: #f4f4f4;
  font-size: 1.3rem;
  padding: 0.5rem 0 2rem 0;
}

.hero-text b {
  text-decoration: none;
  background:rgb(48,111,213 );
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(246,196,74 );
  margin-right: 1rem; /* Add space between the two buttons */
}

.hero-text a {
  text-decoration: none;
  background: rgb(117,34,123 );
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(255,255,255);
  margin-right: 1rem; /* Add space between the two buttons */
}

.hero-text .hide {
  display: none;
}

.heroVideo {
  width: 100%;
  height: 95%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 555px) {
  .hero-text h1 {
    padding: 10px 20px;
  }
  
  .hero-text p {
    font-size: 1.1rem;
    padding: 0rem 0 2rem 0;
  }
  
  .hero-text a {
    padding: 0.6rem 1.1rem;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
  }
}
