.Item {
    margin: 4rem 6rem;
    color: #2a2a2a;
  }
  
  .Item h1 {
    font-size: 3rem;
  }
  
  .Itemcard {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .I-card {
    width: 32%;
    text-align: start;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem 0.8rem;
  }
  .I-image {
    height: calc(22vw * (4928 / 3264));  /* 根据图片的分辨率计算高度 */
    overflow: hidden;
    border-radius: 7px;
  }
  
  .I-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* 确保图片在容器中正确地填充，不会失真 */
    border-radius: 7px;
    transition: 0.3s ease-in-out;
  }
  
  /* .I-card:hover img {
    transform: scale(1.3);
    overflow: hidden;
  } */
  
  .I-card h4 {
    font-size: 1.3rem;
    padding: 0.9rem 0 0.2rem 0;
  }
  

  .more-info-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #2a2a2a; /* 或您选择的任何颜色 */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* 移除默认的下划线 */
  transition: background-color 0.3s ease;
}

.more-info-btn:hover {
  background-color: #1a1a1a; /* 鼠标悬停时的颜色，可以自定义 */
}

  @media screen and (max-width: 850px) {
    .Item {
      margin: 4rem 2rem;
    }
    .Itemcard {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
    }
    .I-card {
      margin-bottom: 1.5rem;
      width: 100%;
    }
  }
  